[Desktop Entry]
Type=Application
Name=VirtualPipe
Comment=Create linked virtual audio devices
Exec=virtualpipe
Icon=net.viniadrii.VirtualPipe
Categories=AudioVideo;Utility;
StartupWMClass=net.viniadrii.VirtualPipe